.left{
	height: 300px;
	width:33%;
	border: 2px solid black;
	margin: 5px;
	float: left;
}
.right{
	height: 300px;
    width: 65%;
    float: left;
}
.right .top{
	    height: 70px;
    width: 100%;
    border: 2px solid black;
    margin: 5px;
    margin-left: 2px;
}
.right .center
{
	height:150px;
	width:100%;
}
.right .center .c1{
        height: 150px;
    width: 50%;
    border: 2px solid black;
    margin: 1px;
    margin-left: 2px;
    float: left;
}
.right .center .c2{
	height: 150px;
    width: 48%;
    border: 2px solid black;
    margin: 1px;
    margin-right: -5px;
    float: right;
}
.bottom{
	       height: 60px;
    width: 100%;
    margin: 12px;
    margin-left: 2px;
    border: 2px solid black;