.main{
	border:2px solid grey;
	height:640px;
	width:1330px;
}
.l1{
	background-color: red;
	height:100px;
	width:100px;
}
.l2{
	background-color: lightblue;
	height:100px;
	width:100px;
	position: relative;
	left:1230px;
	bottom:100px;
}
.l3{
	background-color: lightgreen;
	height:100px;
	width:100px;
	position: relative;
	left:0px;
	top:340px;
}
.l4{
	background-color: orange;
	height:100px;
	width:100px;
	position: relative;
	left:1230px;
	top:240px;
}
